doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= pageTitle
        link(rel='stylesheet', type='text/css', href="/css/style.css")
        link(href='https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content= pageDescription)
        meta(name='keywords', content= keyWords)
        meta(name='author', content='Lele & Franz')
        <!-- PopMyAds.com Popunder Code for pausebot.com -->
        <script type="text/javascript" data-cfasync="false">
        var pmauid = '57973';
        var pmawid = '56648';
        var fq = '0';
        </script>
        <script type="text/javascript" data-cfasync="false" src="https://cdn.popmyads.com/pma.js"></script>
        <!-- PopMyAds.com Popunder Code End -->
        //- Google
        script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-163806742-1')
        script.
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-163806742-1');
        <!-- Facebook -->
        meta(property='og:type', content='website')
        meta(property='og:locale', content='en_US')
        meta(property='og:title', content= ogTitle)
        meta(property='og:description', content= ogDescription)
        meta(property='og:url', content='https://pausebot.com')
        <!-- Twitter -->
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:url', content='https://pausebot.com')
        meta(name='twitter:title', content= twitterTitle)
        meta(name='twitter:description', content= twitterDescription)
    body
        div(class='container-1')
            div(class='grid-item-1')
                div(class='heading-box')
                    h2(class='heading-1')= title1
                    h1(class='heading-2')= title2
            div(class='item-2')
                div(id='207631264')
                    script(type='text/javascript').
                        try {
                          window._mNHandle.queue.push(function (){
                            window._mNDetails.loadTag("207631264", "728x90", "207631264");
                          });
                        }
                        catch (error) {}


            div(class='item-input')
                fieldset(class='form-stuff')
                    form(action= actionVar, method='post')
                        div(class='form-right')
                        input(name='link', type='text', class='pb-input', placeholder='E.g: https://vm.tiktok.com/xxxxxx', pattern="((http)|(https)):\/\/(www|vm|m|t)\.(musical|tiktok)\.(ly|com)\/(\\S)*",required, onclick="this.select();", title="Please enter a valid URL.")
                        input(type='submit', class='pb-button', value= buttonText)
        div(class='container')
            div(class='text-box')
                div(class='description')
                    h3(class='heading-text')=headingText
                    p !{textBox}


            div(class='item-footer')
                div(class='footer-links-item')
                    span(class='footer-links')
                        a(href='/') Home
                        a(href='/download/') Downloader
                        a(href='/contact/') Contact
                        a(href='/privacy') Privacy
                    div(class='footer-sponsor')
                        span
                            a(target='_blank', rel='noopener noreferrer', href='https://www.paypal.me/pausebot') Buy us a &#127866;&nbsp; here
